<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= user.organization_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

</div>
